<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="sakayomi.extension" />

    <application android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:label="${appName}">

        <meta-data android:name="sakayomi.extension.class" android:value="${extClass}" />
        <meta-data android:name="sakayomi.extension.nsfw" android:value="${nsfw}" />

    </application>

</manifest>
